<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <title>Курение убивает</title>
</head>
<body>
  <header>
    <div class="top_header__section">
      <span class="material-symbols-outlined menu-symbol">menu</span>
    </div>
    <div class="main_content__section">
      <div class="text_content__section">
        <div class="text">
          <h1>Вредные привычки</h1>
          <p>
            Являются одной из самых больших проблем современного общества. Курение и злоупотребление алкоголем являются самыми опасными вредными привычками и приносят огромнейший вред не только лицам, страдающим этими привычками-заболеваниями, но и окружающих их людям и всему обществу в целом.
          </p>
        </div>
        <div class="image">
          <img class="cigarette" src="cigarette.png">
          <img class="smoke" src="smoke.png">
        </div>
      </div>
    </div>
    <span class="material-symbols-outlined down-btn">expand_circle_down</span>
  </header>
  <section class="section">
    <div class="main-content__section2">
      <div class="text_wrapper__section2">
        Курение – одна из самых распространенных вредных привычек. Специалисты все чаще относят эту привычку к наркомании. Курильщики вдыхают в легкие продукты горения и насыщают организм целым набором ядовитых веществ. Кроме этого все эти гадости вдыхают окружающие курильщика люди и очень часто это еще и дети. Для них это тоже курение, но пассивное.
      </div>
      <div class="text_wrapper__section2">
        Алкоголизм давно уже вышел из понятия вредная привычка, алкоголизм – это болезнь. При алкоголизме нарушается работа не только организма человека, но и происходят психологические процессы, ведущие к необратимой деградации личности. Лечение алкоголизма требует участия врачей различных специализаций, в том числе и психологов.
      </div>
      <div class="text_wrapper__section2">
        Наркоманией называют непреодолимое пагубное желание к определенному наркотическому веществу, вызывающему состояние эйфории или изменяющему восприятие реальности. С появлением пристрастия развивается лояльное отношение к наркотику, формируется психическая и физическая зависимости. Употребление приводит к быстрой потере здоровья, человек деградирует умственно и морально.
        <a href="https://narcorehab.com/articles/narkomaniya-vidu-simptomu-posledstviya">Читать дальше.</a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="steps__section">
      <h1>Этапы отказа от вредных привычек</h1>
      <div class="steps_table">
      <div class="step">
        <div class="id">1</div>
        <div class="text">Необходимо преодолеть внутреннее не желание ломать привычный образ жизни, найти веские причины и мотивирующие факторы для отказа от вредной привычки.</div>
      </div>
      <div class="step">
        <div class="id">2</div>
        <div class="text">Утвердившись в желании отказаться от привычки, необходимо досконально её изучить – врага нужно знать в лицо. Самое время подключить фантазию и самоубеждение, чтобы создать четкий образ себя без вредной привычки:</div>
      </div>
      <div class="step">
        <div class="id">3</div>
        <div class="text">На основе собранной информации и анализе своих пристрасти подготовиться к отказу от вредных привычек, найти альтернативу типичному поведению.</div>
      </div>
      <div class="step">
        <div class="id">4</div>
        <div class="text">Проделав подготовительную работу, необходимо поставить четкую дату с этого момента основные усилия необходимо отдавать борьбе за свое здоровое и счастливое будущее, используя все имеющиеся средства для полной и окончательной победы:</div>
      </div>
    </div>
    <a href="https://verimed.ru/articles/raznoye/kak-izbavitsya-ot-vrednyh-privychek/">https://verimed.ru/articles/raznoye/kak-izbavitsya-ot-vrednyh-privychek/</a>
    <a href="https://verimed.ru/articles/alkogolism/kak-brosit-pit/">https://verimed.ru/articles/alkogolism/kak-brosit-pit/</a>
    <a href="https://yandex.ru/health/turbo/articles?id=5775">https://yandex.ru/health/turbo/articles?id=5775</a>
    <a href="https://kratkoe.com/interesnyie-faktyi-o-vrednyih-privyichkah/ ">https://kratkoe.com/interesnyie-faktyi-o-vrednyih-privyichkah/ </a>
    </div>
  </section>
  <section>
    <div class="steps__section">
      <h1>Интересные факты</h1>
      <ul class="facts__section">
        <li>
          Почти 50% ежедневных действий человека – это привычки
        </li>
        <li>
          Существует теория, что для отказа от привычки требуется в среднем 66 дней. Время, необходимое для отказа от привычки, обычно составляет от 18 до 254 дней.
        </li>
        <li>
          У женщин алкоголизм формируется быстрее и лечится тяжелее, чем у мужчин.
        </li>
        <li>
          Алкоголизм в 76 % случаев начинается до 20 лет, в том числе в 49 % ещё в подростковом возрасте.
        </li>
        <li>
          Британские исследователи выяснили, что в среднем дети пробуют выкурить свою первую сигарету в 11-ти летнем возрасте.
        </li>
        <li>
          Статистика утверждает, что курящие проживают на 14 лет меньше, чем те люди, которые не курят.
        </li>
      </ul>
    </div>
  </section>
  <section class="section-3">
    <h1>Последствия курения</h1>
    <video controls height="400px">
      <source src="video.mp4">
    </video>

  </section>
  <footer>
    Сделала Диана Фимина | Конструктор Figma
  </footer>
</body>
<script src="main.js"></script>
</html>